[Unit]
Description=Wakes up device running Ollama before proxying requests
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wake-ollama # Path to the compiled binary
EnvironmentFile=/etc/wake-ollama/wake-ollama.config # Your .env file
WorkingDirectory=/etc/wake-ollama
Restart=on-failure

[Install]
WantedBy=multi-user.target
